*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    font-family: "Source Code Pro";
}

@font-face{
    font-family: MISA;
    src: url("../fonts/misa.otf");
}

@font-face{
    font-family: Guidon;
    src: url("../fonts/guidon.otf");
}



/* ======================================================================= */



/* All Headers */
.wrapperHeader{
    text-align: center;
}

.wrapperHeader h1{
    font-size: 40px;
}

.fade{
    transition: 0.05s;
}




/* =============================================================================== */



/* Navigation Bar */
.navbar-ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}
  
  
.navbar-ul li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}
  
.navbar-ul li a:hover{
    transform: scale(1.25);
    transition: 0.5s;
}
  
.active{
    background-color: #4CAF50;
}

.navbar-fade{
    transition: 0.5s;
}



/* =============================================================================== */




/* Wrapper 1 */
.wrapper1{
    height: 100%;
}

.section1{
    text-align: center;
    position: relative;
    top: 25%;
}

.header{
    font-size: 25px;
    -webkit-animation: fadein 2s;
}

.header h1{ /* My name */
    font-size: 40px;

}

.homeBody{
    margin-top: 60px;
    -webkit-animation: fadein 2s;
}

.homeBody h2{ /* job title */
    font-weight: lighter;
    font-size: 22px;

}

.homeBody hr{ /* Horizontal line */
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}

@keyframes fadein{
    from {opacity: 0;}
    to {opacity: 1;}
}




/* =============================================================================== */




/* Wrapper 2 */
.wrapper2{
    height: 100%;
}


.aboutBody{
    text-align: center;
    margin: 0px 30px 0px 30px;
}

.aboutBody div:nth-child(1){
    text-align: left;
}

.aboutBody div:nth-child(2){
    text-align: left;
}

.aboutBody div:nth-child(3){
    text-align: right;
}

.aboutBody div:nth-child(4){
    text-align: right;
}

.aboutBody h4{
    font-size: 20px;
    word-spacing: 12px;
}

.aboutBody hr{
    width: 100%;
    border: 1px solid black;
}




/* =============================================================================== */




/* Wrapper 3 */
.wrapper3{
    height: 100%;
}

.schoolBody{
    text-align: center;
}

.schoolInfo{
    text-align: center;
    font-size: 20px;
    transform: translateY(12px);
    margin-bottom: 40px;
}

.schoolInfo img{
    width: 100px;
    height: 100px;
}

#zobelLine{
    border: 1px solid #087830;
    width: 75%;
}

#ateneoLine{
    border: 1px solid #003a6c;
    width: 75%;
}



/* =============================================================================== */




/* Wrapper 4 */
.wrapper4{
    text-align: center;
    height: 100%;
}

.experienceBody div{
    border-radius: 5px;
    border: 2px solid black;
    margin: 20px 15px 20px 15px;
    display: inline-block;
    transition: all 0.2s;
    cursor: pointer;
    box-shadow: 5px 5px 10px 2px grey;
}

.experienceBody div *{
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}


.experienceBody div h3{
    font-size: 25px;
}

.experienceBody div p{
    font-size: 18px;
}

.experienceBody div:hover{
    background-color: black;
    color: white;
}




/* =============================================================================== */




/* Wrapper 5 */
.wrapper5{
    text-align: center;
    height: 100%;
}

.extraBody div{
    margin: 15px 0px 5px 0px;
    display: inline-block;
    transition: all 0.2s;
    cursor: pointer;
}

.extraBody div *{
    margin-left: 10px;
    margin-right: 10px;
}

.extraBody div h2{
    font-size: 25px;
}

.guidonBody{
    border: 3px solid #003a6c;
    color: #003a6c;
    border-radius: 5px;
    font-family: Guidon;
}

.guidonBody h2{
    margin-top: 10px;
}

.guidonBody:hover{
    background-color: #003a6c;
    color: white;
}

.guidonLogo{
    text-align: center;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
}

.misaBody{
    border: 3px solid #008081;
    color: #008081;
    border-radius: 5px;
    font-family: MISA;
}

.misaBody h2{
    margin-top: 10px;
}

.misaBody:hover{
    background-color: #008081;
    color: white;
}

.misaLogo{
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.basketBody{
    border: 3px solid #003a6c;
    color: #003a6c;
    border-radius: 5px;
    font-family: 'Times';
}

.basketBody h2{
    margin-top: 10px;
}

.basketBody:hover{
    background-color: #003a6c;
    color: white;
}

.basketLogo{
    text-align: center;
    width: 45px;
    height: 45px;
}



/* =============================================================================== */




/* Wrapper 6 */
.wrapper6{
    height: 100%;
    margin-bottom: 70px;
}

.skillsBody{
    text-align: center;
}

.fa-star{
    zoom: 170%;
}

.checked{
    color: gold;
}



/* =============================================================================== */




/* Large Devices */
@media (min-width: 1200px){
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, 
    .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, 
    .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
        margin-top: 50px;
        float: left;
    }
    .col-lg-1{
        width: 8.33%;
    }
    .col-lg-2{
        width: 16.66%;
    }
    .col-lg-3{
        width: 25%;
    }
    .col-lg-4{
        width: 33%;
    }
    .col-lg-5{
        width: 41.66%;
    }
    .col-lg-6{
        width: 50%;
    }
    .col-lg-7{
        width: 58.33%;
    }
    .col-lg-8{
        width: 66.66%;
    }
    .col-lg-9{
        width: 74.99%;
    }
    .col-lg-10{
        width: 83.33%;
    }
    .col-lg-11{
        width: 91.66%;
    }
    .col-lg-12{
        width: 100%;
    }
    .header h1{
        font-size: 50px;
    }
    .schoolInfo p{
        font-size: 25px;
    }
    .schoolLogo img{
        width: 200px;
        height: 200px;
    }
}



/* =============================================================================== */




/* Medium Devices */
@media (min-width: 950px) and (max-width: 1199px){
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, 
    .col-md-5, .col-md-6, .col-md-7, .col-md-8, 
    .col-md-9, .col-md-10, .col-md-11, .col-md-12{
        margin-top: 25px;
        float: left;
    } 
    .col-md-1{
        width: 8.33%;
    }
    .col-md-2{
        width: 16.66%;
    }
    .col-md-3{
        width: 25%;
    }
    .col-md-4{
        width: 33%;
    }
    .col-md-5{
        width: 41.66%;
    }
    .col-md-6{
        width: 50%;
    }
    .col-md-7{
        width: 58.33%;
    }
    .col-md-8{
        width: 66.66%;
    }
    .col-md-9{
        width: 74.99%;
    }
    .col-md-10{
        width: 83.33%;
    }
    .col-md-11{
        width: 91.66%;
    }
    .col-md-12{
        width: 100%;
    }
    .header h1{
        font-size: 45px;
    }
    .schoolInfo p{
        font-size: 22px;
    }
    .schoolLogo img{
        width: 200px;
        height: 200px;
    }
}



/* =============================================================================== */




@media (max-width: 768px){
    .column-md-4{
        float: left;
        width: 50%;
    }
    .wrapper3{
        height: 110%;
    }
    .navbar-ul li a{
        padding: 5px 15px;
    }
  
}

@media (max-width: 949px){
    .aboutBody div{
        margin-bottom: 40px;
    }

}

@media (min-width: 430px){
    hr{
        width: 350px;
    }
}